<div class="col-lg-10 col-lg-offset-1" id="home-component-container">

    <div class="jumbotron">

      <h2>  {{ getTitle() }} </h2>

      <h3>The Page you are looking for doesn´t exist on our site.</h3>
      <h3>Please <a routerLink="/"> go back home </a> and look for another page.</h3>
      <hr/>
      <p>If you think this is an error please <a href="mailto:franprietogutweb@gmail.com?Subject=I%20Want%20To%20Hire%20You%20:)">contact our support team.</a></p>
      <p>We are willing to help you!</p>

    </div><!--jumbotron-->
  </div><!--div class lg 8-->

