
<div class="row" id="headerId">

  <h1>Sell your car with us</h1>
  <h5>This is a fake webapp made with Angular 6 where you can "sell" your cars, modify or remove them.</h5>
  <h5>Feel free to play with it. Of course, no real products can  be sold here :)</h5>

</div>
<div class="row" id="menuId" >


  <div class="col m4 s12">
    <button mat-button routerLink="/home" ><h5>Home</h5></button>

  </div>
  <div class="col m4 s12">
    <button mat-button routerLink="/all-products"><h5>All cars we sell</h5></button>

  </div>
  <div class="col m4 s12">
    <button mat-button routerLink="/create-product"><h5>Publish your car</h5></button>

  </div>



</div>



<div id="content" class="col-lg-10 col-lg-offset-1">

  <header id="header" class="col-lg-12">

    <h1>{{ title }}</h1>

  </header><!--header-->

  <nav id="nav" class="col-lg-12">

    <ul>

      <li><a routerLink="/home" routerLinkActive="activeRouteClass">Home</a></li>
      <li><a routerLink="/all-products" routerLinkActive="activeRouteClass">All products</a></li>
      <li><a routerLink="/create-product" routerLinkActive="activeRouteClass">Create new product</a></li>
    </ul>

  </nav>

  <section id="main" class="col-lg-12">

    <!--componente actual-->

    <router-outlet></router-outlet>
  </section>

  <button mat-button>click</button>


  <mat-sidenav-container>sdasdasda</mat-sidenav-container>

  <mat-drawer-container class="example-container" [ngStyle]="{
  'width': '400px',
  'height': '200px',
  'margin': '10px',
  'border': '1px solid #555'
}">
    <mat-drawer mode="side" opened>Drawer content</mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>


  <footer id="footer" class="col-lg-12">

    <p>Developed by Francisco Prieto with Angular 6</p>
  </footer>

</div><!--content-->

