<p>

  {{_createProduct.errorMessage}}

  
</p>

<h3>{{title}}</h3>


<!--required doent work
https://stackoverflow.com/questions/44213789/angular-validation-with-required-not-working


-->


<form #formCreateProduct="ngForm" (ngSubmit)="_createProduct.createProduct()" class="col-lg-6" id="form-crear-producto-id">

    <div class="form-group" >



      <label>
       
        <span *ngIf="!nombre.valid && nombre.touched && _createProduct.productToInsert.nombre.length != 0" class="label label-danger"> 3-15 characters please</span>

      </label>

      <mat-form-field class="col-lg-12">
        <input matInput placeholder="Name and model of your car" type="text"  name="name" #nombre="ngModel" pattern =".{3,15}"[(ngModel)]="_createProduct.productToInsert.nombre" required />
      </mat-form-field>

      <!--must write [(ngModel)]="blabla" in order to mae it work #nombre="ngModel"-->



    
    </div>

    <div class="form-group">

      <label>

        <span *ngIf="!precio.valid && precio.touched && _createProduct.productToInsert.precio.length != 0" class="label label-danger">Price is not valid. At least one number please, and only numbers and dots</span>

      </label>

      <mat-form-field class="col-lg-12">

        <input type="text" matInput placeholder="Price ( € ): (please decimals with a dot. Ex:29.5)"  name="price" #precio="ngModel" pattern="[0-9.]+" [(ngModel)]="_createProduct.productToInsert.precio" required />  <br/>

      </mat-form-field>
    
    </div>




    <div class="form-group">


     <span *ngIf="!descripcion.valid && descripcion.touched  && _createProduct.productToInsert.descripcion.length != 0" class="label label-danger">Mínimun 10 characters, máx.2000 please</span>



      <mat-form-field class="col-lg-12">
       <textarea matInput placeholder="Write a short description please" name="description" maxlength="2000" #descripcion="ngModel" pattern=".{10,2000}" [(ngModel)]="_createProduct.productToInsert.descripcion" cols="40" rows="3" required></textarea> <br/>
      </mat-form-field>

      <div [ngClass]="{'TopLength':  _createProduct.productToInsert.descripcion.length==2000}">{{_createProduct.productToInsert.descripcion.length}}/2000</div>



    </div>

  <div class="form-group">



    <!--file doesnt suport the ngmodel-->


    <label>Upload image:*</label>

    <input type="file"  placeholder="Upload image" name="imagen" (change)="_uploadFile.fileChangeEvent($event)" [(ngModel)]="_createProduct.productToInsert.imagen" required /> <br/>

    <hr [ngStyle]="{'border-color':'black'}" />

  </div>




  <button type="submit" mat-raised-button color="primary"   [disabled]="formCreateProduct.invalid">Sell my car now!</button><br/>




      
</form>



