



button
{
    margin:.5em;
}

.borderedDiv
{
    border:2px solid #311B92;
}

.viewButton{
  background-color: #9575CD;
  color:#fff;

}
.editButton{
  background-color: #512DA8;
  color:#fff;
}

.deleteButton{
  background-color: #311B92;
  color:#fff;
}
